KAFKA_BROKERS=
KAFKA_CONSUMER_GROUP=nexus
INPUT_TOPICS=otel.traces,otel.metrics,otel.logs
OUTPUT_TOPIC_PREFIX=otel.flat
LOG_LEVEL=info

# sync | async
CONSUME_MODE=async

# batching
BATCH_ENABLED=true
BATCH_SIZE=100
BATCH_TIMEOUT=500ms

# producer acks: none | local | all
PRODUCER_ACKS=local
